<% include ./partials/header %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="border: 1px solid gray;">
      <!-- Blog posts and content should go here-->
      <h2>Locations:</h2>
      <img src="/imgs/map.png" alt="Locations">
    </div>

    <div class="col-sm-3" style="border: 1px solid gray;">
      <!-- Side panel for static content-->
      <div class="side-panel">
          <table>
            <th>Offices</th>
            <tr>
              <td><a href="/sf">SF</a></td>
              <td><a href="/sub/ny">New York</a></td>
            </tr>
            <tr>
              <td><a href="/sub/tokyo">Tokyo</a></td>
              <td><a href="/sub/frankfurt">Frankfurt</a></td>
            </tr>
          </table>
      </div>
      <div class="side-panel">
        <h2>Birthdays Today</h2>
      </div>
    </div>
  </div>
</div>



<% include ./partials/footer %>
