<% include ./partials/header %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="border: 1px solid gray;">
      <!-- Departments and office pictures-->
      <h2>Locations:</h2>
      <iframe name="frame">
        
      </iframe>
    </div>

      <!-- Side panel for static content-->
    <div class="col-sm-3" style="border: 1px solid gray;">
      <div class="side-panel">
          <table id="offices">
            <h3>Offices</h3>
            <hr></hr>
              <th colspan="2">Corporate Headquarters</th>
              <tr>
                <td><a href="/offices/ny" target="frame">New York</a></td>
                <td colspan="2"><a href="#" target="frame">San Francisco</a></td>
              </tr>
              <th>North America</th>
              <tr>
                <td><a href="/sf">Atlanta</a></td>
                <td><a href="/sub/ny">Denver</a></td>
                <td><a href="/sub/ny">Chicago</a></td>
              </tr>
              <tr>
                <td><a href="/sf">Cleveland</a></td>
                <td><a href="/sub/ny">Dallas</a></td>
                <td><a href="/sub/ny">Minneapolis</a></td>
              </tr>
              <tr>
                <td><a href="/sf">Philadelphia</a></td>
                <td><a href="/sub/ny">Raleigh</a></td>
                <td><a href="/sub/ny">Los Angeles</a></td>
              </tr>
              <tr>
                <td><a href="/sf">Minneapolis</a></td>
                <td><a href="/sub/ny">Miami</a></td>
                <td><a href="/sub/ny">Newport Beach</a></td>
              </tr>
              <tr>
                <td><a href="/sub/ny">Nashville</a></td>
                <td><a href="/sub/ny">Detroit</a></td>
                <td><a href="/sf">Washington D.C.</a></td>
              </tr>
              <tr>
                <td><a href="/sub/ny">Houston</a></td>
                <td><a href="/sf">Seattle</a></td>
                <td><a href="/sub/ny">Silicon Valley</a></td>
              </tr>
              <tr>
                <td><a href="/sub/ny">Phoenix</a></td>
                <td><a href="/sf">Calgary</a></td>
                <td><a href="/sub/ny">Toronto</a></td>
              </tr>
              
            <th class="sub">Europe</th>
              <tr>
                <td><a href="/sf">Frankfurt</a></td>
                <td><a href="/sub/ny">London</a></td>
                <td><a href="/sub/ny">Paris</a></td>
              </tr>
              
              <th class="sub">Asia Pacific</th>
              <tr>
                <td><a href="/sf">Hong Kong</a></td>
                <td><a href="/sub/ny">Sydney</a></td>
                <td><a href="/sub/ny">Tokyo</a></td>
              </tr>
            </table>
      </div>
      <div class="side-panel">
        <h2>Birthdays Today</h2>
      </div>
    </div>
  </div>
</div>



<% include ./partials/footer %>
